@{
    ViewBag.Title = "About";
}
<div class="container-fluid backdrop-gradient">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About The Author</h2>
            <h3>@ViewBag.Message</h3>
            <p>Here's the long version:</p>
            <p>I am a full stack software developer in the making. Throughout my life, I have always loved technology and have been drawn to computers. I even took coding lessons when I was 11 years old. However, I stepped away from coding as a teenager and, save one course in High School, did not encounter it again until graduate school.</p>
            <p>My journey through college took me first to a pre-pharmacy track where I spent 3 years studying alongside the future doctors of the world. Although I kept step with them, I realized that they were far more passionate about the topics than I was. So, I changed majors to the social science field of Family Studies.</p>
            <p>I graduated with a degree in Family Studies and went to graduate school in pursuit of a Ph.D. My training in graduate school centered around statistical analysis. My advisor was a demographer and she specialized in analyzing large datasets. The statistics software I used every day was code-based, meaning, I had to code in order to use the software to statistically analyze the data. I soon found that I enjoyed writing code more than I enjoyed statistics.</p>
            <p>Thus, I made another change after completing the requirements for a master's degree. I am now pursuing my love of coding and I hope that I get to build software and solve complex puzzles the rest of my career!</p>
        </div>
    </div>
</div>
